@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.main {
    background-color: #012331;
    color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login_container {
   height: 100vh;
    z-index: 2;
    width: 100%;
    color: white;
}

.login_bg {
    width: 40%;
    min-height: 100vh;
    object-fit: cover;
    z-index: -1;
   position: absolute;
   top: 50%;
    transform: translate(-50%, -50%);
   left: 50%;
}

.text_box {
 object-fit: cover;
background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    text-align: center;
    width: 60%;
    max-width: 500px;
    z-index: -1;
    margin-top: 20px;
    border: #012331;
    border-radius: 15px;
    z-index: 1;
    position: relative;

}

.login_title {
  display: flex;
  text-align: center;
justify-content: center;
    align-items: center;
}


.login_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_image{
    width: 8rem;
    height: 3.5rem;
}

.subtitle {
  display: flex;
  flex-direction: column;
align-items: start;
}

.input_login{
    background: transparent;
    width: 100%;
    margin-top: 6px;
    border : 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.label{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    vertical-align: middle;
    margin-top: 15px;
}
.button{
    background-color: #FED302;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 2px;
    border-radius: 10px;
    font-family: "Lato";
padding: 0.5em 3em 0.5em 3em;
color: black;
text-align: center;
margin: 15px auto 0 auto ;
display: flex;
justify-content: center;
align-items: center;
}

/* Add these new styles to your existing CSS */
.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.input-icon4 {
  position: absolute;
  height: 30px;
  width: 30px;
}
.input-icon3 {
    position: absolute;
    height: 20px;
    width: 20px;
}
.input-icon2 {
    position: absolute;
    height: 20px;
    width: 20px;
}
.input-icon1 {
    position: absolute;
    height: 15px;
    width: 15px;
}

.input-icon4.left {
  left: 10px;
}

.input-icon3.right {
  right: 13px;
}
.input-icon2.left {
    left: 14px;
}

.input-icon1.right {
    right: 14px;
}

.input_login {
  background: transparent;
  width: 100%;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 10px 40px; /* Increased padding to accommodate icons */
  color: white;
}

/* responsivenes */

@media (max-width : 480px){

    .login_buttonn{
        padding: 0.3em 1.5em 0.3em 1.5em;
    }
    
    .text_box{
        width: 90%;
    }
    .login_bg{
        width: 100%;
    }
}